<!-- Raised button -->
<button class="mdl-button mdl-js-button mdl-button--raised">
	Button
</button>
&nbsp;
<!-- Raised button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
	Button
</button>
&nbsp;
<!-- Raised disabled button -->
<button class="mdl-button mdl-js-button mdl-button--raised" disabled>
	Button
</button>
&nbsp;
<!-- Colored raised button -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
	Button
</button>
&nbsp;
<!-- Accent-colored raised button -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
	Button
</button>
&nbsp;
<!-- Accent-colored raised button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	Button
</button>
&nbsp;
