---
notes: |

  TO INCLUDE AN MDL BUTTON COMPONENT:

  1. Code a `<button>` element. Include any desired attributes and values,
  such as an id or event handler, and add a text caption or image as appropriate.

  ```<button>Save</button>```

  2.  Add one or more MDL classes, separated by spaces, to the button using the class attribute.

  ```<button class="mdl-button mdl-js-button mdl-button--raised">Save</button>```

  | MDL class | Effects | Remarks |
  |-----------|---------|---------|
  | `mdl-button` | Defines button as an MDL component | _Required_ |
  | `mdl-js-button` | Assigns basic MDL behavior to button | _Required_ |
  | _(none)_ | Applies flat display effect to button (default)
  | `mdl-button--raised` | Applies raised display effect | Mutually exclusive with fab, mini-fab, and icon |
  | `mdl-button--fab` | Applies fab (circular) display effect | Mutually exclusive with raised, mini-fab, and icon |
  | `mdl-button--mini-fab` | Applies mini-fab (small fab circular) display effect | Mutually exclusive with raised, fab, and icon |
  | `mdl-button--icon` | Applies icon (small plain circular) display effect | Mutually exclusive with raised, fab, and mini-fab |
  | `mdl-button--colored` | Applies colored display effect (primary or accent color, depending on the type of button) | Colors are defined in material.min.css |
  | `mdl-button--primary` | Applies primary color display effect | Colors are defined in material.min.css |
  | `mdl-button--accent` | Applies accent color display effect | Colors are defined in material.min.css |
  | `mdl-js-ripple-effect` | Applies ripple click effect | May be used in combination with any other classes |
---

